.step-detail{
    margin-top: 25px;
}
.step-icon{
    background-color: rgb(248, 246, 246);
    height: 80px;
    padding: 19px 26px;
    font-size: 30px;
    margin: 30px 15px 30px 0;
    border-radius: 20%;
    color: rgb(48, 45, 45);
    box-shadow: 0 0 20px rgb(196, 191, 191);
}
.step-info{
    margin-top: 20px;
    margin-left: 5px;
}
.step-info h4{
    color: #67807b;
}
.step-info p {
    font-size: 15px;
}