.banner{
    background-image: url(../../images/banner-ff.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-info{
    padding-right: 40%;
}
.banner-info h2{
    font-family: 'Oswald', sans-serif;
    line-height: 50px;
}
.banner-info h6{
    color: gray;
    line-height: 35px;
}
.banner-info button{
    font-size: 17px;
}